@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0");

nav > ul, #menu:checked ~ .abrir-menu, label.fechar-menu, #menu {
    display: none;
}
#menu:checked ~ ul {
    display: block;
}
#menu:checked ~ .fechar-menu {
    display: inline-block;
}


section > div {
    text-align: center;
}
article {
    border: 1px solid;
    border-radius: 10px;
    display: inline-block;
    width: 30%;
    min-width: 250px;
    max-width: 350px;
    padding: 1rem;
    margin: 1rem;
}
