@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0");

body {
    margin: 0px;
}
header h1, footer {
    margin: 0px;
    background-color: yellow;
    padding: 1em;
}

nav li {
    display: inline-block;
    padding: 1em;
    border: 1px solid;
    border-radius: 5px;
}

nav li ul {
    display: none;
}
nav li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    padding: 0;
}

nav li ul li {
    display: block;
}

section > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    max-width: 300px;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem;
}

label.abrir-menu, label.fechar-menu, #menu {
    display: none;
    margin: 1rem;
}

@media (max-width: 600px) {
    nav > ul {
        display: none;
    }
    nav:hover > ul {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    label.abrir-menu, nav:hover .fechar-menu {
        display: inline-block;
    }
    nav:hover .abrir-menu {
        display: none;
    }
}
@media print{
    nav {
        display: none;
    }
}